/* .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  background-color: white;
}

.top {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.img img {
  width: 65vw;
  height: 90vh;
}

.signup-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signup-section h1 {
  margin-bottom: 0.5em;
  color: #333;
}

button {
  color: black;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
}
.cBtn {
  background-color: white;
  border: 1px solid black;
}

.blueText {
  color: #1da1f2;
  cursor: pointer;
}

.text {
  font-weight: 530;
}

.buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.gIcon {
  height: 10px;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.selectDOB {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.options {
  padding: 3px;
  height: 20px;
  width: 100px;
}

.text {
  font-weight: 500;
} */
